<footer class="footer">

    <div class="footer-container">

        <!-- LOGO -->

        <div class="footer-logo">

            <h2>
                Cathide<span>.</span>
            </h2>

            <p>
                Développeur Angular & Laravel passionné
                par la création d’applications modernes
                et performantes, Site E-Commerce & Web.
            </p>

        </div>

        <!-- LIENS -->

        <div class="footer-links">

            <h3>Navigation</h3>

            <ul>

                <li>
                    <a href="#home">Accueil</a>
                </li>

                <li>
                    <a href="#about">À propos</a>
                </li>

                <li>
                    <a href="#skills">Compétences</a>
                </li>

                <li>
                    <a href="#projects">Projets</a>
                </li>

                <li>
                    <a href="#contact">Contact</a>
                </li>

            </ul>

        </div>

        <!-- RESEAUX -->

        <div class="footer-social">

            <h3>Réseaux sociaux</h3>

            <div class="social-icons">

                <a href="#">
                    <i class="fab fa-github"></i>
                </a>

                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>

            </div>

        </div>

    </div>

    <!-- COPYRIGHT -->

    <div class="footer-bottom">

        <p>
            © 2026 Cathide Portfolio |
            Tous droits réservés.
        </p>

        <a href="#home" class="back-to-top">
            <i class="fas fa-arrow-up"></i>
        </a>

    </div>

</footer>
