<section class="about" id="about">

    <div class="about-image">

        <div class="image-container">
            <img src="assets/profile.jpeg" alt="about-image">
        </div>

    </div>

    <div class="about-content">

        <h4>À propos de moi</h4>

        <h2>
            Développeur Web
            <span>Frontend & Backend</span>
        </h2>

        <p>
            Je suis un développeur web passionné spécialisé
            dans la création d’applications modernes,
            responsives et performantes. Site et page web.

            J’utilise Angular pour le frontend et Laravel
            pour le backend afin de développer des solutions
            professionnelles adaptées aux besoins des utilisateurs.
        </p>

        <div class="about-cards">

            <div class="card">

                <i class="fas fa-code"></i>

                <h3>Frontend</h3>

                <p>
                    Angular, HTML, CSS,
                    JavaScript, TypeScript
                </p>

            </div>

            <div class="card">

                <i class="fas fa-server"></i>

                <h3>Backend</h3>

                <p>
                    Laravel, PHP,
                    API REST, MySQL,
                    JAVA, Phyton
                </p>

            </div>

        </div>

        <a href="#contact" class="about-btn">
            Me contacter
        </a>

    </div>

</section>
