<section class="contact" id="contact">

    <div class="contact-header">

        <h4>Contact</h4>

        <h2>
            Travaillons
            <span>Ensemble</span>
        </h2>

        <p>
            Vous avez un projet, une idée ou une collaboration ?
            N’hésitez pas à me contacter.
        </p>

    </div>

    <div class="contact-container">

        <!-- INFORMATIONS -->

        <div class="contact-info">

            <div class="info-box">

                <i class="fas fa-envelope"></i>

                <div>
                    <h3>Email</h3>
                    <p>cathideange38@gmail.com</p>
                </div>

            </div>

            <div class="info-box">

                <i class="fas fa-phone"></i>

                <div>
                    <h3>Téléphone</h3>
                    <p>+237 657 65 42 06</p>
                </div>

            </div>

            <div class="info-box">

                <i class="fas fa-location-dot"></i>

                <div>
                    <h3>Localisation</h3>
                    <p>
                        Littoral - Cameroun
                    </p>
                </div>

            </div>

            <!-- RESEAUX -->

            <div class="social-links">

                <a href="#">
                    <i class="fab fa-github"></i>
                </a>

                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>

            </div>

        </div>

        <!-- FORMULAIRE -->

        <div class="contact-form">

            <form>

                <div class="input-group">

                    <input type="text" placeholder="Votre nom">

                    <input type="email" placeholder="Votre email">

                </div>

                <input type="text" placeholder="Sujet">

                <textarea
                    rows="6"
                    placeholder="Votre message">
                </textarea>

                <button type="submit">
                    Envoyer le message
                </button>

            </form>

        </div>

    </div>

</section>
