<nav class="navbar">

    <div class="logo">
        Cathide<span>.</span>
    </div>

    <ul class="nav-links" [class.active]="isMenuOpen">

        <li>
            <a href="#home">Accueil</a>
        </li>

        <li>
            <a href="#about">À propos</a>
        </li>

        <li>
            <a href="#skills">Compétences</a>
        </li>

        <li>
            <a href="#projects">Projets</a>
        </li>

        <li>
            <a href="#contacts">Contact</a>
        </li>

    </ul>

    <div class="menu-toggle" (click)="toggleMenu()">

        <i class="fas"
        [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'">
        </i>

    </div>

</nav>
