<section class="skills" id="skills">

    <div class="skills-header">

        <h4>Mes compétences</h4>

        <h2>
            Technologies &
            <span>Expertise</span>
        </h2>

        <p>
            Voici les principales technologies que j’utilise
            pour développer des applications modernes,
            performantes et responsives.
        </p>

    </div>

    <div class="skills-container">

        <!-- FRONTEND -->

        <div class="skill-card">

            <i class="fab fa-angular"></i>

            <h3>Angular</h3>

            <div class="progress-bar">
                <div class="progress angular">
                    90%
                </div>
            </div>

        </div>

        <!-- HTML -->

        <div class="skill-card">

            <i class="fab fa-html5"></i>

            <h3>HTML</h3>

            <div class="progress-bar">
                <div class="progress html">
                    95%
                </div>
            </div>

        </div>

        <!-- CSS -->

        <div class="skill-card">

            <i class="fab fa-css3-alt"></i>

            <h3>CSS</h3>

            <div class="progress-bar">
                <div class="progress css">
                    90%
                </div>
            </div>

        </div>

        <!-- JAVASCRIPT -->

        <div class="skill-card">

            <i class="fab fa-js"></i>

            <h3>JavaScript</h3>

            <div class="progress-bar">
                <div class="progress js">
                    85%
                </div>
            </div>

        </div>

        <!-- PHP -->

        <div class="skill-card">

            <i class="fab fa-php"></i>

            <h3>PHP</h3>

            <div class="progress-bar">
                <div class="progress php">
                    85%
                </div>
            </div>

        </div>

        <!-- LARAVEL -->

        <div class="skill-card">

            <i class="fab fa-laravel"></i>

            <h3>Laravel</h3>

            <div class="progress-bar">
                <div class="progress laravel">
                    88%
                </div>
            </div>

        </div>

    </div>

</section>
