<section class="home" id="home">

    <div class="home-content">

        <h3>Bonjour, je suis</h3>

        <h1>Cathide</h1>

        <h2>
            Développeur
            <span>Angular & Laravel</span>
        </h2>

        <p>
            Je développe des applications web modernes,
            responsives et performantes avec Angular,
            Laravel et MySQL.
        </p>

        <div class="buttons">

            <a href="#" class="btn">
                Télécharger CV
            </a>

            <a href="#projects" class="btn-outline">
                Voir Projets
            </a>

        </div>

        <div class="social-icons">

            <a href="#">
                <i class="fab fa-github"></i>
            </a>

            <a href="#">
                <i class="fab fa-linkedin"></i>
            </a>

            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>

        </div>

    </div>

    <div class="home-image">

        <div class="image-box">
            <img src="assets/profile.jpeg" alt="profile">
        </div>

    </div>

</section>
